{% extends 'base.html' %}

{% load staticfiles %}
{% load humanize %}

{% block breadcrumb %}
  <li class="breadcrumb-item ">

  	<div class="container">
		<div class="jumbotron">
			<h1>CEA MEMBERS 2018-2019</h1>
			<br>
			<br>
		<div class = "row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/HAMSIKA KALI.jpg' %}" width= "300" height="300" border="5">
					<br>
					<div class="middle">
						<br>
    					<div class="text">HAMSIKA KALI</div>
    					
    					<div class="text">GENERAL SECRETARY</div>
 					</div>
 					<br>
				</div>
			</div>
			<br>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/ismail.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">MOHAMMED ISMAIL</div>
    					
    					<div class="text">SECRETARY</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Vijay Banpal.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Vijay Banpal</div>
    					
    					<div class="text">Secretary</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Vijayanand.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Vijay Anand</div>
    					
    					<div class="text">Secretary</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/ayisha.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Ayisha</div>
    					
    					<div class="text">Executive member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/pravinya.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Pravinya Miriyala</div>
    					
    					<div class="text">Executive member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/YASHWANTH SAI KOLA.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">YASHWANTH SAI KOLA</div>
    					
    					<div class="text">Executive member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Utkarsh Singh.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Utkarsh Singh</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Akella Sravan.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Akella Sravan</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Avinash Gupta.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Avinash Gupta</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Divyasree Gaju.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Divyasree Gaju</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/loverboy.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Rahul Sagar</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/KOTHAKOTA BILAL.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Kothakota Bilal</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/M Ashok Kumar.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">M Ashok Kumar</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/anamika.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Anamika Mali</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/divyansh.JPG' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Divyansh Dubey</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/sid.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Sid Prajapati</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Vasuki Koppala.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Vasuki Koppala</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Sumashree.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Sumashree</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Shubham Verma.jpeg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Shubham Verma</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Sudharshan .jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Sudharshan</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/U Harshitha.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">U Harshitha</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Pujitha.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Pujitha</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Pujitha Ajmira.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Pujitha Ajmira</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Nandana Varma Gajjela.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Nandana Varma Gajjela</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/SAI ANUHYA.jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Sai Anuhya</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/sharmishta tallapally .JPG' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">sharmishta tallapally</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img src="{% static 'img/CEA/Sri gangadhar Mattaparthi .jpg' %}" width= "300" height="300" border="5">
					<div class="middle">
    					<div class="text">Sri gangadhar Mattaparthi</div>
    					
    					<div class="text">Executive Member</div>
 					</div>
				</div>
			</div>
		</div>
		
			
	</div>


  </li>
{% endblock %}

{% block content %}


{% endblock %}