{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}

  <div class="jumbotron">
  




      <h1 align ="center"><strong>CIVIL ENGINEERING ASSOCIATION 2018-2019</strong></h1>
      <br>
      <br>



     
        
        <div class = "row shadow" align="cente">
          <div class="col-md-12">
            <div class="thumbnail">
               <img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/40351954_1076585045875644_4838345981101604864_o.jpg?_nc_cat=107&_nc_ht=scontent-maa2-1.xx&oh=b53420ed672ad7e51ea5531457050d46&oe=5D316363" width= "1000" height="600" border="50" >

             </div>
           </div>
         </div>

         <br>
         <br>



      



      <div>
        <h5>
          
          <p class = "space">
            Civil engineering association, CEA, one of the oldest associations of the college proudly announces its official website. <br>
Yes, you heard that right! <br>
CEA, has now, its very own website. This initiative is for the benefit of our students. <br>
We are here, to support and guide you, throughout your college life. <br>
This website helps you with all kinds of issues, related to academics and career guidance. <br>
It covers all the information regarding the association as well. You can now easily look at the already implemented ideas and the future ideas to. The website also carries information about the students behind the actual work in the association. <br>
The key things available: <br>
1.  All the magazines of CEA <br>
2.  Information about past events conducted <br>
3.  Information about the upcoming events <br>
4.  The syllabus of all the years <br>
<br>
The Website has come up with an interesting Questionnaire section. Here you can put up all your questions, whether it is the academics or non-academics part. All professors, alumni and the present students can take part in questions and answers after logging in. <br>
Our website also carriers messages from Head of the Department, Dr.M.Chandrasekhar, our Faculty Advisor, Dr.M.Sashi and the General Secretary of CEA, Hamsika Kali. <br>
          </p>

        </h5>

        <br>
        <br>

      </div>
    <h2 align = "center">EVENTS CONDUCTED THIS YEAR</h2>
    <br>
    <br>
    <p>
      
      1.Online Mock Test <br>
2.T Shirt Designing Competition <br>
3.CEA Inaugural <br>
4.Staad Pro Workshop(2 sessions) <br>
5.Article Writing <br>
6. Intiative – CEA Video <br>
7. Teachers Day Fresher’s Video <br>
8. My Engineer Inspiration <br>
9. Projecteria <br>
10. IGBC collaboration Competitions <br>
11. Quantus 1 <br>
12. Civil freshers - (a) Round 1 
                                  (b) Round 2
                                  (c) Round 3 <br>
13. Online Mock Test 2 <br>
14. Civil Quiz <br>
15. Know Your Branch by  Mr.Jayakumar <br>
16. Career design :Alumni Student Interaction <br>
17. Civil Seminar <br>
18. Tensgrity <br>
19. Quantus 2 <br>
20. Sand Tower <br>
21. Meme Making Competition <br>
22. 'Ace With Ease' by Mr.Vishwanathan <br>
23. Seminar on Business Model Innovation for Sustainability. <br>
24. Sustainable design challenge <br>
25. Quantus 3.0 <br>
26. Online Mock Gate Examination (Civil, Mechanical, EEE) <br>
27. Hometown Glory <br>
28. Treasure Hunt <br>
29. Road to Research. <br>
30. Online Mock Gate Test Series <br>
31. Quantus 4.0 <br>
32. Sports Week <br>
33. Pictionary <br>
34. Gram Parivarthan 2.0 – (a) Field Visit
                                                   (b) Report and  Presentations <br>
35. Mock Gate by Faculty <br>
36. Bridge Making <br>
37. Quantus 5.0 <br>
38. Contraption video <br>
39. Lecture by Ultra Tech Cement. <br>
40. Career Guide <br>
41. Quizzing  <br>
42. Group Discussion <br>
43. Poster Design Competition <br>
44. Urban Click <br>
45. "Towards Good Practices" <br>
46. India Next Seminar <br>
47. Quantus 6.0 <br>
48. Back to Roots <br>
49. Chai Pe Charcha <br>


    </p>

    </div>



{% endblock %}