	{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  
  <li class="breadcrumb-item ">


  	<h1>QUANTUS 2018-2019</h1>
  	<br><br>
  	<ul>
  		
  		<li><strong><a href="https://drive.google.com/file/d/0BzZVvK-0aH3AWDM2UUpWS0RvR05OeUNvZWNOQVdMNFFiazRV/view?usp=drivesdk">Quantus 1</a></strong></li>
  		<br><br>
  		<li><strong><a href="https://drive.google.com/file/d/0BzZVvK-0aH3AWDM2UUpWS0RvR05OeUNvZWNOQVdMNFFiazRV/view?usp=drivesdk">Quantus 2</a></strong></li>
  		<br><br>
  		<li><strong><a href="https://drive.google.com/file/d/0BzZVvK-0aH3Adlp5emg3VGhzdXZzT0dlWDgzQTlGYzBQUHgw/view?usp=drivesdk">Quantus 3</a></strong></li>
  		<br><br>
  		<li><strong><a href="https://drive.google.com/file/d/1rFlU_aXbSlXgMib0A3j_7J04eFgDxKGt/view?usp=drivesdk">Quantus 4</a></strong></li>
  		<br><br>
  		<li><strong><a href="https://drive.google.com/file/d/1PbxjocprYmYNlJyHqZhOhU8T6xMOsEIC/view?usp=drivesdk">Quantus 5</a></strong></li>
  		<br><br>
  		<li><strong><a href="https://drive.google.com/file/d/1oc3LpDkyvkTKd3l434DyiFl-pzPnvPsw/view?usp=drivesdk">Quantus 6</a></strong></li>
  		<br><br>

  	</ul>

  </li>

{% endblock %}

